<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <title>Generador de Codigo QR</title>
  </head>
  <body>
    <div class="container">
      <h1>Generador QR</h1>
      <hr />
      <form action="/scan" method="post">
        <textarea
          name="text"
          id="text"
          cols="150"
          rows="10"
          placeholder="Escribe un URL o texto"
        ></textarea>
        <button type="submit" class="btn btn-primary">Generar</button>
      </form>
    </div>
  </body>
</html>
