<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" type="text/css">
    <title>Generador de Codigo QR</title>
  </head>
  <body>
    <div class="container">
      <h1>Generador QR</h1>
      <div class="bar"></div>
      <form action="/scan" method="post">
        <textarea
          name="text"
          id="text"
          placeholder="Escribe un URL o texto"
        ></textarea>
        <button type="submit" class="btn btn-primary">Generar</button>
      </form>
    </div>
  </body>
</html>
