<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" type="text/css">
    <title>Generador de Codigo QR</title>
  </head>
  <body>
    <div class="container">
      <img src=<%=qr_code %> alt="QR code">
      <br>
      <a href="/" role="button" class="btn btn-primary">Volver</a>
    </div>
  </body>
</html>
